# Case Study on Measures of Central Tendency and Dispersion

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('StudentsPerformance.csv')

1. Find out how many males and females participated in the test

In [3]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

2. What do you think about the students' parental level of education?

In [4]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course

In [5]:
df.groupby(['gender','test preparation course'])['math score'].mean().nlargest(1)

gender  test preparation course
male    completed                  72.988506
Name: math score, dtype: float64

In [11]:
df.groupby(['gender','test preparation course'])['reading score'].mean().nlargest(1)

gender  test preparation course
female  completed                  77.375
Name: reading score, dtype: float64

In [12]:
df.groupby(['gender','test preparation course'])['writing score'].mean().nlargest(1)

gender  test preparation course
female  completed                  78.793478
Name: writing score, dtype: float64

4.What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course

In [39]:
df.groupby(['gender','test preparation course'])['math score'].agg('std').nsmallest(1)

gender  test preparation course
male    completed                  14.039164
Name: math score, dtype: float64

In [40]:
df.groupby(['gender','test preparation course'])['reading score'].agg('std').nsmallest(1)

gender  test preparation course
female  completed                  12.695493
Name: reading score, dtype: float64

In [41]:
df.groupby(['gender','test preparation course'])['writing score'].agg('std').nsmallest(1)

gender  test preparation course
female  completed                  12.240788
Name: writing score, dtype: float64

5. The management needs your help to give bonus points to the top 25% of
students based on their maths score, so how will you help the management
to achieve this.

In [44]:
df.sort_values(by="math score",ascending= False).head(250)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64